 {% extends "@EasyAdmin/page/content.html.twig" %}

 {% block content %}

    <div>
        <h1> Administration </h1>
        <p> Bienvenue sur le panel admin de Radio grenouille </p>
        <div>
            <img src="https://purr.objects-us-east-1.dream.io/i/88tAh.jpg" alt="img_cat">
        </div>
        <div>
            Cupcake cupcake pudding sesame snaps jujubes cheesecake oat cake. Danish biscuit icing pudding croissant chocolate cake chocolate chupa chups. Toffee candy canes bear claw bonbon halvah sweet candy. Carrot cake pastry apple pie lollipop lollipop icing. Cheesecake chocolate cake bear claw powder liquorice. Jujubes brownie biscuit wafer wafer bonbon dessert. Chupa chups liquorice muffin candy pudding cake cookie. Marshmallow carrot cake pudding danish gummies powder cotton candy jelly. Bonbon chocolate cake croissant cookie marshmallow. Danish cheesecake cookie cheesecake icing wafer croissant. Jelly pudding cupcake shortbread icing muffin gummi bears. Chocolate cake caramels tiramisu jelly beans gummi bears biscuit. Macaroon cotton candy macaroon jelly-o muffin cookie cheesecake dragée.
        </div>
    </div>



 {% endblock %}